.idea
lab-1/.idea
lab-1/express-api/.idea
lab-1/electron-ts/.idea

lab-1/express-api/node_modules
lab-1/express-api/.env
lab-1/express-api/uploads/*
lab-1/express-api/yarn-debug.log*
lab-1/express-api/yarn-error.log*

lab-1/electron-ts/node_modules
lab-1/electron-ts/build
lab-1/electron-ts/yarn-debug.log*
lab-1/electron-ts/yarn-error.log*
