.idea
app/.idea
app/express-api/.idea
app/electron-ts/.idea

app/express-api/node_modules
app/express-api/.env
app/express-api/uploads/*
app/express-api/yarn-debug.log*
app/express-api/yarn-error.log*

app/electron-ts/node_modules
app/electron-ts/build
app/electron-ts/yarn-debug.log*
app/electron-ts/yarn-error.log*
