body {
    background-color: #faf9f9;
}

.App {
    margin: 50px auto 30px auto;
    padding: 10px;
    width: 70vw;
    /*height: 60vh;*/
    border: 2px solid #555b6e;
    border-radius: 7px;
}

.ant-upload.ant-upload-select {
    width: 100%;
}

.ant-popover-message {
    display: none;
}
