body {
    background-color: #faf9f9;
}

.App {
    padding: 10px;
}

.ant-upload.ant-upload-select {
    width: 100%;
}

.ant-modal {
    width: 100%!important;
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}